<%= link_to page, id: dom_id(page), class: "p-4 -mx-4 hover:bg-gray-100" do %>
  <div class="flex justify-between">
    <div>
      <h5 class="font-bold"><%= page.name %></h5>
      <div class="text-sm text-gray-700"><%= page.url %></div>
    </div>
    
    <%= render page.last_result %>
  </div>
<% end %>