<div class="flex items-center justify-between">
  <h1 class="text-2xl font-bold truncate">
    <%= link_to "‹", @page, class: "p-2 rounded hover:bg-gray-100" %>
    Edit page
  </h1>

  <%= button_to "Delete", @page, method: :delete, class: "border border-gray-200 rounded shadow px-2 py-1 hover:bg-gray-100", data: {turbo_confirm: "Are you sure?"} %>
</div>

<%= render "form", page: @page %>